In [1]:
a=10

In [3]:
a<15

True

In [4]:
if a<15:
    pass #when i dont want do anything

In [5]:
if a<15:
    print("Hey you haha")

Hey you haha

In [6]:
if 10<3:
    print("10 is lesser than 3")
else:
    print("Statement is wrong")

Statement is wrong

In [7]:
income =100
if income<50:
    print("i will able to buy a phone")
else:
    print("earn more")

earn more

In [8]:
l=[1,4,5.6,4.7j,'sudh']

In [9]:
for i in l:
    print(f"{i} :{type(i)}")

1 :<class 'int'>
4 :<class 'int'>
5.6 :<class 'float'>
4.7j :<class 'complex'>
sudh :<class 'str'>

In [11]:
l=[1,2,3,4,5,6]
l1=[]
for i in l:
    l1.append(i+2)

In [12]:
l1

[3, 4, 5, 6, 7, 8]

In [13]:
# iterable object is something having any multiple no of elements

In [34]:
a=[2,45,78,12,'sudh',6+7j,[56,67,78,"dsfdsf"]]

In [35]:
for i in a:
    print(a.index(i))

0
1
2
3
4
5
6

In [43]:
a

[2, 45, 78, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [46]:
l1=[]
for i in a:
    if type(i)==str:
        l1.append(i)
    elif type(i)==list:
        for j in i:
            if type(j)==str:
                l1.append(j)

In [47]:
l1

['sudh', 'dsfdsf']

In [48]:
k=[]
for i in a:
    if type(i)==int:#comparing type of character
        c=i*i
        k.append(c)

In [49]:
k

[4, 2025, 6084, 144]

In [41]:
for i in range(len(a)):
    print(i,a[i])

0 2
1 45
2 78
3 12
4 sudh
5 (6+7j)
6 [56, 67, 78, 'dsfdsf']

In [42]:
for i,j in enumerate(a):
    print(i,j)

0 2
1 45
2 78
3 12
4 sudh
5 (6+7j)
6 [56, 67, 78, 'dsfdsf']

In [50]:
a

[2, 45, 78, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [61]:
for i in a:
    e=[]
   
    if type(i)==str:
        
        for j in i:
            e.append(j)
        print(e)

['s', 'u', 'd', 'h']

In [59]:
e

[]

In [1]:
l=['name','emailid','phone','address']

In [2]:
for i in l:
    print(i)

name
emailid
phone
address

In [3]:
s='saket kimar'
for i in s:
    print(i)

s
a
k
e
t

k
i
m
a
r

In [4]:
l

['name', 'emailid', 'phone', 'address']


# FOR-Else statement

In [6]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself then it will come to else statement")

name
emailid
phone
address
if for loop is going to complete itself then it will come to else statement

In [8]:
for i in l:
    if i=='phone':
        break
    print(i)
else:
    print("check this statement")

name
emailid

In [9]:
#since here complete database has not been executed so else statement will not be executed

In [12]:
#while statement always going to check the statement is true or not else it will break the loop
#its not in case of for loop and always remember to give condition in while loop ;
a=5
while a<6:
    print(a)
    a=a+1

5

In [13]:
a=1
while a<5:
    print(a)
    if a==4:
        break
    a=a+1

1
2
3
4

In [14]:
a=1
while a<5:
    print(a)
    a=a+1
    if a==3:
        continue

1
2
3
4

In [15]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [17]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [18]:
list(range(3,50,2))

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [19]:
list(range(3,10,-1))

[]

In [20]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [21]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [24]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print('\r')

*

**

***

****

*****

In [25]:
#"/r"meaning is here nothing getting new line without much space

In [26]:
t=(3,4,4,5,6,7,7)

In [28]:
for i in t:
    print(i,end=',')

3,4,4,5,6,7,7,

In [30]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 4
2 4
3 5
4 6
5 7
6 7

In [31]:
t

(3, 4, 4, 5, 6, 7, 7)

In [37]:
for i in range(len(t)-1,-1,-1):#not len(t) just as index out of range
    print(t[i])

7
7
6
5
4
4
3

In [38]:
d={"a":'fsdsds','b':"dsdw",'c':"{1,2,3,4,5}","d":(1,2,3,4),"e":"saket"}

In [39]:
d['d']

(1, 2, 3, 4)

In [40]:
for i in d:
    print(i,d[i])

a fsdsds
b dsdw
c {1,2,3,4,5}
d (1, 2, 3, 4)
e saket

In [41]:
d.items()

dict_items([('a', 'fsdsds'), ('b', 'dsdw'), ('c', '{1,2,3,4,5}'), ('d', (1, 2, 3, 4)), ('e', 'saket')])

In [42]:
for i in d.items():
    print(i)

('a', 'fsdsds')
('b', 'dsdw')
('c', '{1,2,3,4,5}')
('d', (1, 2, 3, 4))
('e', 'saket')

In [44]:
s={3,2,4,52,2,4,5,5,3,2,2,5,3,7,45,2,32,4}

In [45]:
s

{2, 3, 4, 5, 7, 32, 45, 52}

In [46]:
for i in s:
    print(i)

32
2
3
4
5
7
45
52