In [2]:
class Car:
    pass

In [3]:
audi=Car()

In [4]:
audi.mileage=10
audi.year=2006
audi.make=243
audi.model="sdf"

In [5]:
audi.mileage

10

In [6]:
nano=Car()

In [7]:
nano.mileage=67
nano.year=2007
nano.make=234

In [8]:
class Car:
    def __init__(self,milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [11]:
nano1=Car(23,2006,456,"xlx")
nano2=Car(23,2006,456,"xEx")

In [13]:
nano1.milage

23

In [29]:
class Car:
    def __init__(self,milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model
    def age(self,current_year):
        return current_year-self.year
    def milage1(self):
        return "Milage of car is",self.milage
    def __str__(self):
        return "This is class i have created"

In [30]:
nano23=Car(10,2009,345,"zx")

In [31]:
nano23.age(2015)

6

In [28]:
nano23.milage1()

('Milage of car is', 10)

In [33]:
print(nano23)

This is class i have created

In [34]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name=first_name
        self.last_name=last_name
        self.age=age
    def __str__(self):
        return "This is the person of the classs"

In [36]:
p1=Person('sak','kr',23)

In [37]:
print(p1)

This is the person of the classs

In [42]:
class Student:
    def __init__(self,name,roll,date,current_topic):
        self.name=name
        self.roll=roll
        self.date=date
        self.current_topic=current_topic
    def cur_topic(self):
        print("This is the topic going on",self.current_topic)
    def str_roll(self):
        try:
            if type(self.roll)==str:
                print("do nothing")
            else:
                return(self.roll)
        except Exception as e:
            print("This is my error msg",e)
    def duration(self,current_date):
        print("duration of my class is",current_date-self.date)
    def __str__(self):
        return "this is a student class"

In [43]:
s1=Student("saket",23,2007,"Data Science")

In [44]:
s1.cur_topic()

This is the topic going on Data Science

In [45]:
s1.duration(2019)

duration of my class is 12

In [46]:
class Student:
    def who(self):
        print("I am a student")

In [47]:
s1=Student()

In [49]:
s1.who()

I am a student

In [51]:
class Company:
    def __init__(self):
        self.name="ineuron"
        self.address="Bangalore"
    def show(self):
        print("name",self.name,"address",self.address)

In [52]:
c=Company()

In [53]:
c.show()

name ineuron address Bangalore

In [62]:
class Pub_mod:
    def __init__(self,name,age):
        self._name=name
        self.age=age
    def age1(self):
        print("age",self.age)

In [63]:
c1=Pub_mod("saket",24)

In [64]:
c1.age1()

age 24

In [67]:
#self._name=Protected
#self.__name=Private
#encapsulation is a grouping of attributes,modifier concept

In [68]:
class Rectangle:
    __length=0
    __breadth=0
    def __init__(self):
        self.__length=5
        self.__breadth=3
        
        print(self.__length)
        print(self.__breadth)

In [69]:
r1=Rectangle()

5
3

In [71]:
class Test:
    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8
        
        print("Public",self.a,"Private",self.__c,"Protected",self._b)

In [72]:
t1=Test()

Public 6 Private 8 Protected 5

In [73]:
class Test:
    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8
        
        print("Public",self.a,"Private",self.__c,"Protected",self._b)
        
    def show(self):
        print("Private",self.__c,"Protected",self._b)

In [74]:
t2=Test()

Public 6 Private 8 Protected 5

In [75]:
t2.show()

Private 8 Protected 5

In [78]:
t2._Test__c#for private name

8

In [79]:
t2._b#for protected use

5

In [80]:
#benefits are data hiding,classes can work independently

In [84]:
class Tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch" + self.branch +
               "\n \t Belted-bias" + str(self.belted_bias) +
               "\n \t optimal pressure" + str(self.opt_pressure))
    
    
    
    
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
        
    def __str__(self):
        return ("Engine: \n \tFuel type" + self.fuel_type +
               "\n \t Noise level:" + str(self.noise_level))
    

    
class Body:
    
    def __init__(self,size):
        self.size=size
        
    def __str__(self):
        return ("Body:\n \t size" + self.size)
    


    
class Car:
    
    def __init__(self,tyres,engine,body):
        
        self.tyres=tyres
        self.engine=engine
        self.body=body
        
    def __str__(self):
        return (str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body))

In [87]:
t=Tyres("Patna",True,30)
e=Engine('Diesel',20)
b=Body("Medium")

In [88]:
c=Car(t,e,b)
print(c)

Tyres:
 	BranchPatna
 	 Belted-biasTrue
 	 optimal pressure30
Engine:
 	Fuel typeDiesel
 	 Noise level:20
Body:
 	 sizeMedium

In [89]:
print(t)

Tyres:
 	BranchPatna
 	 Belted-biasTrue
 	 optimal pressure30

In [90]:
t.belted_bias

True